# Task 3 of LnT internship

In this task We've Done Feature engineering and made coulumns suitable for our understanding as well as usage for machine learning model

In [4]:
import pandas as pd

D:\Anaconda\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [5]:
import pandas as pd
file_path = 'C:\\Farmhouse\\LnTdata.csv'
df = pd.read_csv(file_path)

In [6]:
df

,G,C,B,A,Ia,Ib,Ic,Va,Vb,Vc
0,0,1,1,0,4.745460,-728.197739,725.778428,-0.318639,-0.011551,0.330189
1,1,1,1,1,-525.497721,324.896235,201.390792,-0.046330,0.025836,0.020494
2,0,1,1,1,311.575476,-882.660908,573.243395,-0.027955,-0.013439,0.041393
3,0,1,1,1,875.922025,-542.215104,-331.644062,0.014291,-0.041649,0.027358
4,1,0,0,1,752.530117,20.403523,27.205867,0.144196,-0.472389,0.328194
...,...,...,...,...,...,...,...,...,...,...
3926,1,0,0,1,823.892102,32.743813,18.878951,0.075206,-0.392920,0.317714
3927,1,0,1,1,717.943019,-815.951000,-21.165109,-0.004944,-0.107046,0.111990
3928,0,0,0,0,-70.978494,68.994688,-1.006438,-0.206625,-0.381549,0.588174
3929,0,0,0,0,55.050874,-4.783583,-53.315271,0.172090,0.426140,-0.598230
3930,0,0,0,0,15.426020,-28.088371,9.348891,0.582488,-0.185405,-0.397083

In [13]:
df.describe()

Descriptive Statistics:

,G,C,B,A,Ia,Ib,Ic,Va,Vb,Vc
count,3931.000000,3931.000000,3931.000000,3931.000000,3931.000000,3931.000000,3931.000000,3931.000000,3931.000000,3931.000000
mean,0.431951,0.411346,0.555584,0.571356,15.978095,-54.217829,40.626001,-0.011358,0.004075,0.007283
std,0.495411,0.492140,0.496964,0.494945,462.164811,442.200192,369.811758,0.287772,0.314518,0.306257
min,0.000000,0.000000,0.000000,0.000000,-883.468698,-900.408968,-883.209689,-0.620748,-0.607809,-0.612533
25%,0.000000,0.000000,0.000000,0.000000,-103.387364,-303.907380,-58.915779,-0.143207,-0.149932,-0.206766
50%,0.000000,0.000000,1.000000,1.000000,3.001744,3.456098,-5.062540,-0.008571,0.003745,0.010318
75%,1.000000,1.000000,1.000000,1.000000,233.762445,88.296866,49.664828,0.097025,0.160635,0.235646
max,1.000000,1.000000,1.000000,1.000000,885.738571,889.868884,901.274261,0.595342,0.627790,0.600179

By Loadng the dataset and describing it we can see that the faults in G,C,B,A are in binary form so we can use that to determine the type of faults in the Electrical Grid

Thus first we have to convert this binary indicators

In [14]:
df['Fault_Type'] = df[['G', 'C', 'B', 'A']].astype(str).agg(''.join, axis=1)

df

,G,C,B,A,Ia,Ib,Ic,Va,Vb,Vc,Fault_Type
0,0,1,1,0,4.745460,-728.197739,725.778428,-0.318639,-0.011551,0.330189,0110
1,1,1,1,1,-525.497721,324.896235,201.390792,-0.046330,0.025836,0.020494,1111
2,0,1,1,1,311.575476,-882.660908,573.243395,-0.027955,-0.013439,0.041393,0111
3,0,1,1,1,875.922025,-542.215104,-331.644062,0.014291,-0.041649,0.027358,0111
4,1,0,0,1,752.530117,20.403523,27.205867,0.144196,-0.472389,0.328194,1001
...,...,...,...,...,...,...,...,...,...,...,...
3926,1,0,0,1,823.892102,32.743813,18.878951,0.075206,-0.392920,0.317714,1001
3927,1,0,1,1,717.943019,-815.951000,-21.165109,-0.004944,-0.107046,0.111990,1011
3928,0,0,0,0,-70.978494,68.994688,-1.006438,-0.206625,-0.381549,0.588174,0000
3929,0,0,0,0,55.050874,-4.783583,-53.315271,0.172090,0.426140,-0.598230,0000
3930,0,0,0,0,15.426020,-28.088371,9.348891,0.582488,-0.185405,-0.397083,0000

After defining it we can see how many types of faults are there in electrical grid through "Valuse count"

In [15]:
fault_types = {
    '0000': 'No Fault',
    '1000': 'Single Line to Ground A',
    '0100': 'Single Line to Ground B',
    '0010': 'Single Line to Ground C',
    '0011': 'Line-to-Line BC',
    '0101': 'Line-to-Line AC',
    '1001': 'Line-to-Line AB',
    '1010': 'Line-to-Line with Ground AB',
    '0101': 'Line-to-Line with Ground AC',
    '0110': 'Line-to-Line with Ground BC',
    '0111': 'Three-Phase',
    '1111': 'Three-Phase with Ground',
    '1011': 'Line A Line B to Ground Fault'
}

In [16]:
df['Fault_Type'] = df['Fault_Type'].map(fault_types)

df

,G,C,B,A,Ia,Ib,Ic,Va,Vb,Vc,Fault_Type
0,0,1,1,0,4.745460,-728.197739,725.778428,-0.318639,-0.011551,0.330189,Line-to-Line with Ground BC
1,1,1,1,1,-525.497721,324.896235,201.390792,-0.046330,0.025836,0.020494,Three-Phase with Ground
2,0,1,1,1,311.575476,-882.660908,573.243395,-0.027955,-0.013439,0.041393,Three-Phase
3,0,1,1,1,875.922025,-542.215104,-331.644062,0.014291,-0.041649,0.027358,Three-Phase
4,1,0,0,1,752.530117,20.403523,27.205867,0.144196,-0.472389,0.328194,Line-to-Line AB
...,...,...,...,...,...,...,...,...,...,...,...
3926,1,0,0,1,823.892102,32.743813,18.878951,0.075206,-0.392920,0.317714,Line-to-Line AB
3927,1,0,1,1,717.943019,-815.951000,-21.165109,-0.004944,-0.107046,0.111990,Line A Line B to Ground Fault
3928,0,0,0,0,-70.978494,68.994688,-1.006438,-0.206625,-0.381549,0.588174,No Fault
3929,0,0,0,0,55.050874,-4.783583,-53.315271,0.172090,0.426140,-0.598230,No Fault
3930,0,0,0,0,15.426020,-28.088371,9.348891,0.582488,-0.185405,-0.397083,No Fault

In [17]:
fault_type_counts = df['Fault_Type'].value_counts()
fault_type_counts

Fault_Type
No Fault                         1183
Three-Phase with Ground           567
Line A Line B to Ground Fault     567
Line-to-Line AB                   564
Three-Phase                       548
Line-to-Line with Ground BC       502
Name: count, dtype: int64

### Now We Used Ordinal encoding for easy understanding of us and also for our model

In [ ]:
import category_encoders as ce

In [ ]:
pip install category_encoders

In [ ]:
import pandas as pd
import category_encoders as ce

In [ ]:
#fault_types = {
    #'0000': 'No Fault',
    #'1000': 'Single Line to Ground A',
    #'0100': 'Single Line to Ground B',
    #'0010': 'Single Line to Ground C',
    #'0011': 'Single Line to Ground C',
    #'0101': 'Line-to-Line AC',
    #'1001': 'Line-to-Line AB',
    #'1010': 'Line-to-Line with Ground AB',
    #'0101': 'Line-to-Line with Ground AC',
    #'0110': 'Line-to-Line with Ground BC',
    #'0111': 'Three-Phase',
    #'1111': 'Three-Phase with Ground',
    #'1011': 'Line A Line B to Ground Fault'

In [21]:
encoder= ce.OrdinalEncoder(cols=['Fault_Type'],return_df=True,mapping=[{'col':'Fault_Type',
                                'mapping':{'No Fault':1,'Single Line to Ground A':2,'Single Line to Ground B':3,'Single Line to Ground C':4,'Single Line to Ground C':5,"Line-to-Line AC":6,"Line-to-Line AB":7,"Line-to-Line with Ground AB":8,"Line-to-Line with Ground AC":9,"Line-to-Line with Ground BC":10,"Three-Phase":11,"Three-Phase with Ground":12,"Line A Line B to Ground Fault":13}}])
encoder

OrdinalEncoder(cols=['Fault_Type'],
               mapping=[{'col': 'Fault_Type', 'data_type': dtype('O'),
                         'mapping': No Fault                          1
Single Line to Ground A           2
Single Line to Ground B           3
Single Line to Ground C           5
Line-to-Line AC                   6
Line-to-Line AB                   7
Line-to-Line with Ground AB       8
Line-to-Line with Ground AC       9
Line-to-Line with Ground BC      10
Three-Phase                      11
Three-Phase with Ground          12
Line A Line B to Ground Fault    13
dtype: int64}])

In [22]:
df

,G,C,B,A,Ia,Ib,Ic,Va,Vb,Vc,Fault_Type
0,0,1,1,0,4.745460,-728.197739,725.778428,-0.318639,-0.011551,0.330189,Line-to-Line with Ground BC
1,1,1,1,1,-525.497721,324.896235,201.390792,-0.046330,0.025836,0.020494,Three-Phase with Ground
2,0,1,1,1,311.575476,-882.660908,573.243395,-0.027955,-0.013439,0.041393,Three-Phase
3,0,1,1,1,875.922025,-542.215104,-331.644062,0.014291,-0.041649,0.027358,Three-Phase
4,1,0,0,1,752.530117,20.403523,27.205867,0.144196,-0.472389,0.328194,Line-to-Line AB
...,...,...,...,...,...,...,...,...,...,...,...
3926,1,0,0,1,823.892102,32.743813,18.878951,0.075206,-0.392920,0.317714,Line-to-Line AB
3927,1,0,1,1,717.943019,-815.951000,-21.165109,-0.004944,-0.107046,0.111990,Line A Line B to Ground Fault
3928,0,0,0,0,-70.978494,68.994688,-1.006438,-0.206625,-0.381549,0.588174,No Fault
3929,0,0,0,0,55.050874,-4.783583,-53.315271,0.172090,0.426140,-0.598230,No Fault
3930,0,0,0,0,15.426020,-28.088371,9.348891,0.582488,-0.185405,-0.397083,No Fault

In [25]:
df_encoded = encoder.fit_transform(df)
df_encoded

,G,C,B,A,Ia,Ib,Ic,Va,Vb,Vc,Fault_Type
0,0,1,1,0,4.745460,-728.197739,725.778428,-0.318639,-0.011551,0.330189,10
1,1,1,1,1,-525.497721,324.896235,201.390792,-0.046330,0.025836,0.020494,12
2,0,1,1,1,311.575476,-882.660908,573.243395,-0.027955,-0.013439,0.041393,11
3,0,1,1,1,875.922025,-542.215104,-331.644062,0.014291,-0.041649,0.027358,11
4,1,0,0,1,752.530117,20.403523,27.205867,0.144196,-0.472389,0.328194,7
...,...,...,...,...,...,...,...,...,...,...,...
3926,1,0,0,1,823.892102,32.743813,18.878951,0.075206,-0.392920,0.317714,7
3927,1,0,1,1,717.943019,-815.951000,-21.165109,-0.004944,-0.107046,0.111990,13
3928,0,0,0,0,-70.978494,68.994688,-1.006438,-0.206625,-0.381549,0.588174,1
3929,0,0,0,0,55.050874,-4.783583,-53.315271,0.172090,0.426140,-0.598230,1
3930,0,0,0,0,15.426020,-28.088371,9.348891,0.582488,-0.185405,-0.397083,1

In [2]:
from sklearn.preprocessing import MaxAbsScaler,MinMaxScaler

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3931 entries, 0 to 3930
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   G           3931 non-null   int64
 1   C           3931 non-null   int64
 2   B           3931 non-null   int64
 3   A           3931 non-null   int64
 4   Ia          3931 non-null   float64
 5   Ib          3931 non-null   float64
 6   Ic          3931 non-null   float64
 7   Va          3931 non-null   float64
 8   Vb          3931 non-null   float64
 9   Vc          3931 non-null   float64
 10  Fault_Type  3931 non-null   object
dtypes: float64(6), int64(4), object(1)
memory usage: 337.9+ KB